body {
	background-color: black;
	background-image: url(noise.jpg);
	margin: 0 0 0 0;
	width: 100vw;
	height: 100vh;
	min-width: 800px;
}
#footer {
	width: 200px;
	height: 100%;
	background-image: url(footer.png);
	background-size: 200px 35px;
	background-repeat: repeat-y;
	background-position: 0px 66px;
	float: right;
	margin-right: 7px;
	position: relative;
	z-index: -1;
}

/*If you're SNOOPING AROUND on my website, the repeating text works different on the index just because I worked so hard on the roundabout way to put it in so...I'm keeping it in the index! lawl. If you want the smarter(?) way to do it, check the other pages. It's just a background image on the other pages, here it has its own dedicated div that sits out of the way of the content. But I think the way it is on this page, it could potentially knock stuff on the page out of order. I'm not really a web developer guy, I just do it as a hobby so I don't actually know the smartest/most up to date way to do stuff. */

#topbar {
	height: 64px;
	width: 100%;
	background: linear-gradient(0deg, rgba(15,42,45,1) 0%, rgba(60,127,134,1) 6%, rgba(37,98,104,1) 20%, rgba(43,69,72,1) 49%, rgba(60,105,110,1) 93%, rgba(57,104,109,1) 96%, rgba(15,42,45,1) 100%);
	background-image: url(topbar23.png);
	background-repeat: repeat-x;
	background-size: 1920px 64px;
	z-index: 1;
	position: relative;
}
#header {
	width: 200px;
	height: 36px;
	background-image: url(header.png);
	background-size: 200px 35px;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
	position: absolute;
	top: 25px;
	right: 7px;
	opacity: 0.7;
}
#buttonbrick {
	width: 540px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

.button {
	width: 540px;
	height: 64px;
	margin: 5px 0px 5px 0px;
}

#animation {
	background-image: url(buttons/animation.png);
	background-size: 540px 128px;
	background-position: 0px 128px;
}
#anihov {
	width: 100%;
	height: 100%;
	background-image: url(buttons/animation.png);
	background-size: 540px 128px;
	background-position: 0px 64px;
	opacity: 0;
	z-index: 1;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;

}
#anihov:hover {
	background-position: 0px 64px;
	opacity: 1;
	z-index: 1;
    transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity .1s ease-in-out;
}

#illustration {
	background-image: url(buttons/illustration.png);
	background-size: 540px 128px;
	background-position: 0px 128px;
}
#illuhov {
	width: 100%;
	height: 100%;
	background-image: url(buttons/illustration.png);
	background-size: 540px 128px;
	background-position: 0px 64px;
	opacity: 0;
	z-index: 1;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;

}
#illuhov:hover {
	background-position: 0px 64px;
	opacity: 1;
	z-index: 1;
    transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity .1s ease-in-out;
}

#about {
	background-image: url(buttons/about.png);
	background-size: 540px 128px;
	background-position: 0px 128px;
}
#abthov {
	width: 100%;
	height: 100%;
	background-image: url(buttons/about.png);
	background-size: 540px 128px;
	background-position: 0px 64px;
	opacity: 0;
	z-index: 1;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;

}
#abthov:hover {
	background-position: 0px 64px;
	opacity: 1;
	z-index: 1;
    transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity .1s ease-in-out;
}
IMG.YEP {
	height: 64px;
	width: 540px;
	margin-top: 30px;
	overflow: hidden;

	-webkit-animation-name: reset, fade-in, slide-in;
	-webkit-animation-duration: .4s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in, slide-in;
	-moz-animation-duration: 0.4s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;
	
}
IMG.NOPE {
	height: 64px;
	width: 540px;
	margin-top: 0px;
	overflow: hidden;
}
IMG.FADE0 {
	-webkit-animation-name: reset, fade-in, slide-out;
	-webkit-animation-duration: .6s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in, slide-out;
	-moz-animation-duration: .6s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;
}
IMG.FADE1 {
	-webkit-animation-name: reset, fade-in, slide-in;
	-webkit-animation-duration: .7s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in, slide-in;
	-moz-animation-duration: .7s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;
}
IMG.FADE2 {
	-webkit-animation-name: reset, fade-in, slide-out;
	-webkit-animation-duration: .9s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in, slide-out;
	-moz-animation-duration: .9s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;
}
IMG.FADE3 {
	-webkit-animation-name: reset, fade-in, slide-in;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in, slide-in;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;
}
IMG.FADE4 {
	-webkit-animation-name: reset, fade-in, slide-out;
	-webkit-animation-duration: 1.1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in, slide-out;
	-moz-animation-duration: 1.1s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;
}
#eatmyshorts {
	float: right;
	position:fixed;
	bottom: 0;
	font: 8pt calibri;
	color: #2F3233; 
	padding: 5px;
	overflow: hidden;

	-webkit-animation-name: reset, fade-in;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in;
	-moz-animation-duration: 2.5s;
	-moz-animation-timing-function: ease-in;
	-moz-animation-iteration-count: 1;

}
@font-face {
    font-family: HEADLINE;
    src: url(HEAD.TTF);
}

img {
	border-style: none;

}
	a:link { text-decoration: none; color: #FFFFFF; font-weight: bold; }
	a:visited { text-decoration: none; color: #FFFFFF; font-weight: bold; }
	a:hover { text-decoration: none; color: #67808D;
		font-weight:bold;}
	a:active { text-decoration: none; color: #FFFFFF; font-weight: bold; }
}



@-webkit-keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
 
@-webkit-keyframes fade-in {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

/* MOZILLA */

@-moz-keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
 
@-moz-keyframes fade-in {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
::-webkit-scrollbar { 
    display: none; 
}
