body {
	background-color: black;
	background-image: url(/skeleton/noise.jpg);

	-webkit-animation-name: reset, fade-in;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: ease-in;
	-moz-animation-iteration-count: 1;
}
#topbar {
	height: 64px;
	width: 100%;
	background-image: url(/skeleton/topbarprime.jpg);
	background-repeat: repeat-x;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

#pescado {
	height: 148px;
	width: 264px;
	display: block;
	background-repeat: no-repeat;
	background-image: url(/skeleton/pescado.png);
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;

	-webkit-animation-name: reset, fade-in;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in;
	-moz-animation-duration: 2s;
	-moz-animation-timing-function: ease-in;
	-moz-animation-iteration-count: 1;
}
#clockbar {
	height: 50px;
	width: 540px;
	background: url(http://www.slurpbert.com/skeleton/timeclockbg2.png);
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
}
#fontquote {
	font-size: 35pt;
	font-family: HandScript;
	color: #FFFFFF; 
}
#clock {
	height: 30px;
	width: 570px;
	margin-top: -2.5em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-smoothing: antialiased;
}
#container {
	width: 540px;
	padding-left: 150px;
	padding-right: 150px;
	margin-top: auto;
	overflow: hidden;
}
IMG.YEP {
	height: 64px;
	width: 540px;
	margin-top: 30px;
	overflow: hidden;

	-webkit-animation-name: reset, fade-in, slide-in;
	-webkit-animation-duration: .4s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in, slide-in;
	-moz-animation-duration: 0.4s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;
	
}
IMG.NOPE {
	height: 64px;
	width: 540px;
	margin-top: 0px;
	overflow: hidden;
}
IMG.FADE0 {
	-webkit-animation-name: reset, fade-in, slide-out;
	-webkit-animation-duration: .6s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in, slide-out;
	-moz-animation-duration: .6s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;
}
IMG.FADE1 {
	-webkit-animation-name: reset, fade-in, slide-in;
	-webkit-animation-duration: .7s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in, slide-in;
	-moz-animation-duration: .7s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;
}
IMG.FADE2 {
	-webkit-animation-name: reset, fade-in, slide-out;
	-webkit-animation-duration: .9s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in, slide-out;
	-moz-animation-duration: .9s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;
}
IMG.FADE3 {
	-webkit-animation-name: reset, fade-in, slide-in;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in, slide-in;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;
}
IMG.FADE4 {
	-webkit-animation-name: reset, fade-in, slide-out;
	-webkit-animation-duration: 1.1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in, slide-out;
	-moz-animation-duration: 1.1s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;
}
#eatmyshorts {
	float: right;
	position:fixed;
	bottom: 0;
	font: 8pt calibri;
	color: #2F3233; 
	padding: 5px;
	overflow: hidden;

	-webkit-animation-name: reset, fade-in;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in;
	-moz-animation-duration: 2.5s;
	-moz-animation-timing-function: ease-in;
	-moz-animation-iteration-count: 1;

}
@font-face {
    font-family: HEADLINE;
    src: url(/skeleton/HEAD.TTF);
}

img {
	border-style: none;

}
	a:link { text-decoration: none; color: #FFFFFF; font-weight: bold; }
	a:visited { text-decoration: none; color: #FFFFFF; font-weight: bold; }
	a:hover { text-decoration: none; color: #67808D;
		font-weight:bold;}
	a:active { text-decoration: none; color: #FFFFFF; font-weight: bold; }
}



@-webkit-keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
 
@-webkit-keyframes fade-in {
0% {
    opacity: 0;
}
60% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

/* MOZILLA */

@-moz-keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
 
@-moz-keyframes fade-in {
0% {
    opacity: 0;
}
60% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
::-webkit-scrollbar { 
    display: none; 
}
