body {
	background-color: black;
	background-image: url(/skeleton/noise.jpg);

	-webkit-animation-name: reset, fade-in;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: ease-in;
	-moz-animation-iteration-count: 1;
}
#topbar {
	height: 64px;
	width: 100%;
	background-image: url(/skeleton/topbarprime.jpg);
	background-repeat: repeat-x;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

#pescado {
	height: 148px;
	width: 264px;
	display: block;
	background-repeat: no-repeat;
	background-image: url(/skeleton/pescado.png);
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;

	-webkit-animation-name: reset, fade-in;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in;
	-moz-animation-duration: 2s;
	-moz-animation-timing-function: ease-in;
	-moz-animation-iteration-count: 1;
}
#clockbar {
	height: 50px;
	width: 540px;
	background: url(/skeleton/timeclockbg2.png);
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
}
#fontquote {
	font-size: 35pt;
	font-family: HandScript;
	color: #FFFFFF; 
}
#clock {
	height: 30px;
	width: 570px;
	margin-top: -2.5em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-smoothing: antialiased;
}
#back {
	height: 45px;
	width: 45px;
	position: absolute;
	margin-top: 2em;
}
#headfoot {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 64px;
	margin-bottom: 2em;
}
#blogpart {
background: #015769;
background-image: url(/skeleton/noise.png); /* fallback */
background-image: url(/skeleton/noise.png), -webkit-gradient(linear, left top, left bottom, from(#019CB0), to(#0E5197)); /* Saf4+, Chrome */
background-image: url(/skeleton/noise.png), -webkit-linear-gradient(top, #019CB0, #0E5197); /* Chrome 10+, Saf5.1+ */
background-image: url(/skeleton/noise.png),    -moz-linear-gradient(top, #019CB0, #0E5197); /* FF3.6+ */
background-image: url(/skeleton/noise.png),     -ms-linear-gradient(top, #019CB0, #0E5197); /* IE10 */
background-image: url(/skeleton/noise.png),      -o-linear-gradient(top, #019CB0, #0E5197); /* Opera 11.10+ */
background-image: url(/skeleton/noise.png),         linear-gradient(top, #019CB0, #0E5197); /* W3C */
                    border-radius: 3px;
                    -webkit-border-radius: 0px;
                    -moz-border-radius: 0px;
                    -o-border-radius: 3px;
                    -ms-border-radius: 3px;
                    box-shadow: 0px 0px 0px 1px #015769;
                    border-style: solid;
                    border-color: #00C7D7;
                    border-width: 1px;
                    margin-bottom: 2em;
                    position: relative;
                    box-shadow:rgba({text:glow rgb},0.6) 0px 0px 10px 1px;
	width: 540px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1em;

}
#blogtext {
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	/* margin-left: 2em; */
	/* margin-right: 150px; */
	padding-top: 0.2em;
	padding-bottom: 2em;
	overflow: hidden;
	word-wrap: break-word;
	color: #FFFFFF;
	font: 15pt arial, Helvetica, sans-serif;
}
h1 {
	font: bold 20pt arial, Helvetica, sans-serif;
	margin-top: 1em;
	margin-bottom: .5em;
}
.propic {
        float: left;
	background-image: url(/art/background2.png);
	padding: 10px;
	width: auto;
	height: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #67808D;
}

img {
	border-style: none;
}
.abtme {
	float: right;
	margin-left: 10px;
}
	a:link { text-decoration: none; color: #FFFFFF; font-weight: bold; }
	a:visited { text-decoration: none; color: #FFFFFF; font-weight: bold; }
	a:hover { text-decoration: none; color: #00C7D7;
		font-weight:bold;}
	a:active { text-decoration: none; color: #FFFFFF; font-weight: bold; }
}				
::-webkit-scrollbar { 
    display: none; 
}